@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.navigate-buttons {
    color: white;
    text-transform: uppercase;
    left: 90%;
}

.navigate-buttons.active {
    font-weight: 600;
}

.custom-toolbar {
    background-color: #ff0000;
}

mat-toolbar {
    position: relative;
    z-index: 5;
}

.content {
    padding: 24px;
    transition: .3s ease;
}

mat-sidenav-container {
    height: calc(100vh - 64px);
}
